

<div class="content">

    <div>

    </div>
    <div class="image">

        <div id="contact-me"> Contact </div>

        <ul id="my-links">
            <li>
                <img src="assets/email-icon-png-black-24.jpg" alt="">
                <div>maxx.tiechko@gmail.com</div>
            </li>

            <li>
                <a href="https://github.com/trueOpatcher/">
                    <img src="assets/25231.png" alt="">
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/maxx-tiyechko/">
                    <img src="assets/logo-linkedin-logo-icon-png-svg.png" alt="">
                </a>
            </li>
            
        </ul>

        <img id="background" src="assets/background-cutted.jpg" alt="">

        <img src="assets/train-cutted0.png" alt="" id="train">
        <img src="assets/rails-cutted.png" alt="" id="rails">
        <img src="assets/baloon-cutted.png" alt="" id="baloon">
        <img src="assets/parachute-cutted.png" alt="" id="parachute">
    </div>
</div>