
<div class="content">


    <div id="projects">
        
        <div class="small-chain">
            <img class="small-chain-1" src="../../../assets/small-chain.png" alt="">
            <img class="small-chain-2" src="../../../assets/small-chain.png" alt="">

        </div>
        <div class="project">
            <a href="https://audio-shelf.herokuapp.com/">
                <img class="frame" src="../../../assets/frame.png" alt="">
                <img class="my-site" src="../../../assets/audiostore.png" alt="">
            </a>

        </div>

        <div class="small-chain">
            <img class="small-chain-1" src="../../../assets/small-chain.png" alt="">
            <img class="small-chain-2" src="../../../assets/small-chain.png" alt="">

        </div>

        <div class="project">
            <a href="https://music-server-test.herokuapp.com/">
                <img class="frame" src="../../../assets/frame.png" alt="">
                <img class="my-site" src="../../../assets/music-server.png" alt="">
            </a>

        </div>

        <div class="small-chain">
            <img class="small-chain-1" src="../../../assets/small-chain.png" alt="">
            <img class="small-chain-2" src="../../../assets/small-chain.png" alt="">

        </div>

        <div class="project">
            <a href="https://new-web-shop.herokuapp.com/">
                <img class="frame" src="../../../assets/frame.png" alt="">
                <img class="my-site" src="../../../assets/web-shop.png" alt="">
            </a>

        </div>

    </div>
</div>

