
$circleW: 120px;
$circleH: 120px;

.content {
  position: absolute;
    top: 0;
    left: 0;
    padding-top: 55px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

#wheel {
    z-index: 1;
    position: relative;
    
    top: calc(50% - 54px);
    right: -119px;
    
    width: $circleW;
    height: $circleH;

    transform: rotate(0);
    transition: all 0.2s ease-in-out;

    
}

.circle {
    margin: 0;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
    img {
        width: 120px;
        height: 120px;
    }
}

h1 span {
  color: black;
    padding-left: 65px;
    font: 25px Monaco, MonoSpace;
    height: 25px;
    position: absolute;
    width: 200px;
    left: calc($circleW / 2);
    top: calc(($circleH / 2) - 15px);
    transform-origin: left center;
  }



  #panel {
    transform: translateX(-400px);
    transition: transform 2s ease-in-out;
    z-index: 3;
    position: relative;
    width: 200px;
    height: 400px;
    
    top: 10%;
    left: 0;

    .wall {
    position: absolute;
    z-index: 3;
    width: 200px;
    height: 300px;

    background-image: url('../../../assets/panel.png');
    background-position: right;
    background-repeat: no-repeat;
    }
    

    
    
      
  }





#panel-gear-2 {
  transition: transform 0.2s ease-in-out;

  position: absolute;
    z-index: 1;

   top: 190px;
   left: -9px;
   width: 55px;
   height: 55px;
    
}

#panel-gear-1 {
   transition: transform 0.2s ease-in-out;

   position: absolute;
   z-index: 1;
   top: 190px;
   left: 42px;
   width: 80px;
   height: 80px;
          
}