<div class="content">

    <div id="panel">

        <div class="wall">
            
        </div>

        <div id="wheel">
            <div class="circle">
                <img src="assets/toppng.com-steampunk-gear-600x599.png" alt="">
            </div>
            
            <h1 #skills>
                <span>JavaScript</span>
                <span>TypeScript</span>
                <span>HTML/CSS</span>
                <span>Angular</span>
                <span>RxJS/Material</span>
                <span>NodeJs/Express</span>
                <span>MongoDB/NoSQL</span>
                <span>HTTP/REST</span>
                <span>Heroku</span>
                <span>C++</span>

            </h1>
        </div>

        <img id="panel-gear-1" src="assets/gear-0.png" alt="" >
        <img id="panel-gear-2" src="assets/gear-0.png" alt="" >
    
        
        
    </div>

    
</div>


