
<div class="main">
    <div class="content">
        <div class="links">
            <ul>
                <li routerLink="/main/about" routerLinkActive="active"><a>About</a></li>
                <li routerLink="/main/skills" routerLinkActive="active"><a>Skills</a></li>
                <li routerLink="/main/projects" routerLinkActive="active"><a>Projects</a></li>
                <li routerLink="/main/epilog" routerLinkActive="active"><a>Contact</a></li>
            </ul>
        </div>
    </div>
    
    
</div>